@model Chess_club_manager.Models.IndexViewModel
@{
    ViewBag.Title = Resources.Resource.Profile;
}

<div class="row">
    <div class="col-md-10 well">
        <h3 style="text-align: center">@ViewBag.Title</h3>
        <hr/>

        <p class="text-success">@ViewBag.StatusMessage</p>

        <div class="media">
            <div class="media-left">
                <img src="~/Resources/Images/user.png" class="media-object" style="width:150px" alt="User Avatar">
            </div>
            <div class="media-body">
                <h3 class="media-heading"><b>@Model.FirstName @Model.LastName</b></h3>
                <dl class="dl-horizontal">
                    <dt>User Name (login):</dt>
                    <dd>@Model.UserName</dd>
                    
                    <dt>Email:</dt>
                    <dd>@Model.Email</dd>
                    
                    <dt>Phone Number:</dt>
                    <dd>@Model.PhoneNumber</dd>
                    
                    <dt>Birth Day:</dt>
                    <dd>@Model.BirthDay</dd>
                   
                    <dt>Title:</dt>
                    <dd>@Model.Title</dd>
                    
                    <dt>Current Rating:</dt>
                    <dd>@Model.CurrentRating</dd>
                    
                    <dt>Info:</dt>
                    <dd>@Model.Info</dd>
                </dl>
                
            </div>
        </div>

        
    </div> 
    
    
    <div class="col-md-10 well">
        <h3 style="text-align: center">Настройки</h3>
        <hr />
        <div class="list-group">
            @if (Model.HasPassword)
            {
                <a href="@Url.Action("ChangePassword", "Manage")" class="list-group-item btn btn-default btn-sm"><i class="fa fa-cog"></i> <b>Изменить пароль</b></a>
            }
            else
            {
                <a href="@Url.Action("SetPassword", "Manage")" class="list-group-item btn btn-default btn-sm"><i class="fa fa-cog"></i> <b>Установить пароль</b></a>
            }
            
            <a href="@Url.Action("Index", "Manage")" class="list-group-item btn btn-default btn-sm"><i class="fa fa-cog"></i> <b>Редактировать профиль</b></a>
            
            <a href="@Url.Action("Index", "Manage")" class="list-group-item btn btn-default btn-sm"><i class="fa fa-cog"></i> <b>Изображение Пользователя</b></a>

        </div>
    </div>
</div>



<div class="row">
    <div id="playerChart" class="col-md-10 well">

        <h3 style="text-align: center;">Player rating chart</h3>
        <hr />

        <img src="~/Resources/Images/chart.png" class="img-rounded img-responsive" alt="Cinque Terre">
    </div>



    <div id="playerTournaments" class="col-md-10 well">

        <h3 style="text-align: center;">Player game history</h3>
        <hr />

        @*@if (Model.Tournaments != null)
        {
            <div>
                @foreach (var tournament in Model.Tournaments)
                {
                    <div class="panel">
                        <p>
                            @tournament.Name
                        </p>
                    </div>
                }
            </div>
        }*@

        <div class="panel panel-success">
            <div class="panel-heading">Tournament name [win]</div>
            <div class="panel-body">Panel Content</div>
        </div>

        <div class="panel panel-danger">
            <div class="panel-heading">Tournament name [lost]</div>
            <div class="panel-body">Panel Content</div>
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">Tournament name [win]</div>
            <div class="panel-body">Panel Content</div>
        </div>

        <div class="panel panel-danger">
            <div class="panel-heading">Tournament name [lost]</div>
            <div class="panel-body">Panel Content</div>
        </div>

        <div class="panel panel-warning">
            <div class="panel-heading">Tournament name [any]</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>