@using Chess_club_manager.Helpers
@model Chess_club_manager.DTO.Players.PlayerDetailsDto

@{
    ViewBag.Title = Resources.Resource.UserDetails;
}

<div class="row">

    <div class="col-md-10 well">
        <h2>@ViewBag.Title</h2>

        <div>
            <h4>@Resources.Resource.User</h4>
            <hr />
            <div class="media">
                <div class="media-left">
                    <img src="@Model.ImagePath" class="media-object" style="width:150px" alt="User Avatar">
                </div>
                <div class="media-body">
                    <div class="media-heading">
                        <h3><b>@Model.FirstName @Model.LastName</b></h3>

                        @foreach (var role in Model.Roles)
                        {
                            if (role.RoleId == "userRole")
                            {
                                <label class="label label-info">User</label>
                            }
                            else if (role.RoleId == "adminRole")
                            {
                                <label class="label label-danger">Admin</label>
                            }
                            else if (role.RoleId == "moderatorRole")
                            {
                                <label class="label label-warning">Moderator</label>
                            }
                        }

                    </div>

                    <dl class="dl-horizontal">
                        @if (User.IsInRole("admin") || User.IsInRole("moderator"))
                        {
                            <dt>User Name (login):</dt>
                            <dd>@Model.UserName</dd>

                            <dt>Email:</dt>
                            <dd>@Model.Email</dd>

                            <dt>Phone Number:</dt>
                            <dd>@Model.PhoneNumber</dd>
                        }

                        <dt>Birth Day:</dt>
                        <dd>@Model.BirthDay.ToShortDateUI()</dd>

                        <dt>Title:</dt>
                        <dd>@Model.Title</dd>

                        <dt>Current Rating:</dt>
                        <dd>@Model.CurrentRating</dd>

                        <dt>Info:</dt>
                        <dd>@Model.Info</dd>
                    </dl>

                </div>
            </div>
        </div>
        <p>
            <a href="@Url.Action("Index", "Players")" class="btn btn-warning btn-sm"><i class="fa fa-arrow-left"></i> Назад к списку</a>

            @if (User.IsInRole("admin") || User.IsInRole("moderator"))
            {
                <a href="@Url.Action("Edit", "ManagePlayers", new {id = Model.Id})" class="btn btn-default btn-sm"><i class="fa fa-cog"></i> @Resources.Resource.Edit</a>
            }

        </p>

        <hr />
    </div>
</div>




<div class="row">

    @Html.Action("PlayersChart", "Players", new { id = Model.Id })

    <button class="btn btn-info col-md-10" data-toggle="collapse" data-target="#tournamentHistory">Show Player's Tournaments History</button>

    <div id="tournamentHistory" class="col-md-10 well collapse">

        @Html.Action("PlayersGameHistory", new {id = Model.Id})

    </div>
</div>