@model IEnumerable<Chess_club_manager.DTO.Players.ViewPlayerDto>

@{
    ViewBag.Title = "Игроки";
}

<h2>Игроки</h2>


<table class="table table-hover table-responsive">
    <tr>
        <th></th>
        <th>
            ФИО Игрока
        </th>
        
        <th>
            Дата рождения
        </th>
        <th>
            Титул
        </th>
        <th>
            Текущий рейтинг
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="~/Resources/Images/user.png" class="media-object" style="width: 40px">
        </td>

        <td>
            <a href="@Url.Action("Details", "Players", new {id = item.Id})"><b>@item.FirstName @item.LastName</b></a>
        </td>

        <td>
            @if (item.BirthDay.HasValue)
            {
                @item.BirthDay.Value.ToShortDateString()
            }
            else
            {
                <label class="label label-warning">Не установлено</label>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentRating)
        </td>

        <td>
            <a href="@Url.Action("Details", new {id = item.Id})" class="btn btn-default btn-xs"><i class="fa fa-search-plus"></i> @Resources.Resource.Details</a>
        </td>
    </tr>
}

</table>
