@model IEnumerable<Chess_club_manager.DataModel.Entity.Arbitrator>

@{
    ViewBag.Title = "Управление Арбитрами";
}

<h2>Управление Арбитрами</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-success"><i class="fa fa-plus"></i> Добавить</a>
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            Имя
        </th>
        <th>
            Фамилия
        </th>
        <th>
            Титул
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            <a href="@Url.Action("Edit", new {id = item.Id})" class="btn btn-default btn-xs"><i class="fa fa-cog"></i> Редактировать</a>
            <a href="@Url.Action("Details", "Arbitrators", new {id = item.Id})" class="btn btn-default btn-xs"><i class="fa fa-search-plus"></i> Детали</a>
            <a href="@Url.Action("Delete", new {id = item.Id})" class="btn btn-default btn-xs"><i class="fa fa-trash"></i> Удалить</a>
        </td>
    </tr>
}

</table>
