@using Chess_club_manager.Helpers
@model Chess_club_manager.DTO.Tournament.TournamentViewDto

@{
    ViewBag.Title = Model.Name;
}



<div class="row well">
    
    <h2 style="text-align: center"><i class="fa fa-star" style="color: gold"></i> @Resources.Resource.Tournament</h2>
    <h3 style="text-align: center">@Model.Name</h3>
    <hr/>

<div class="col-md-6">
    <table class="table table-hover table-striped table-responsive">
        <tbody>
        <tr>
            <th>
                @Resources.Resource.TRNstart
            </th>
            <td>
                @Model.Start.ToUIformat()
            </td>
        </tr>
        
        <tr>
            <th>
                @Resources.Resource.TRNisOfficial
            </th>
            <td>
                @if (Model.IsOfficial)
                {
                    <label class="label label-success"><i class="fa fa-star"></i> @Resources.Resource.Official</label>
                }
                else
                {
                    <label class="label label-warning"><i class="fa fa-star-o"></i> @Resources.Resource.UnOfficial</label>
                }
            </td>
        </tr>
        <tr>
            <th>
                @Resources.Resource.TRNtimeControl
            </th>
            <td>
                @Html.DisplayFor(model => model.TimeControl)
            </td>
        </tr>
        <tr>
            <th>
                @Resources.Resource.TRNlocation
            </th>
            <td>
                @Html.DisplayFor(model => model.Location)
            </td>
        </tr>
        <tr>
            <th>
                @Resources.Resource.TRNisPrivate
            </th>
            <td>
                @if (Model.IsPrivate)
                {
                    <label class="label label-danger"><i class="fa fa-lock"></i> @Resources.Resource.Private</label>
                }
                else
                {
                    <label class="label label-success"><i class="fa fa-unlock"></i> @Resources.Resource.Public</label>
                }
            </td>
        </tr>

            
        <tr>
            <th>
                @Resources.Resource.TRNmaxPlayersCount
            </th>
            <td>
                @Html.DisplayFor(model => model.MaxPlayersCount)
            </td>
        </tr>


        <tr>
            <th>
                @Resources.Resource.TRNtype
            </th>
            <td>
                @Html.DisplayFor(model => model.Format)
            </td>
        </tr>
        

        <tr>
            <th>
                @Resources.Resource.TRNMaxToursCount
            </th>
            <td>
                @Html.DisplayFor(model => model.MaxToursCount)
            </td>
        </tr>

        </tbody>
    </table>
</div>

<div class="col-md-6">
    <table class="table table-hover table-striped table-responsive">
        <tbody>
        
        <tr>
            <th>
                @Resources.Resource.TRNfinish
            </th>
            <td>
                @Model.Finish.ToUIformat()
            </td>
        </tr>

        <tr>
            <th>
                @Resources.Resource.TRNcreator
            </th>
            <td>
                <a href="@Url.Action("Details", "Players", new {id = Model.CreatorId})"><i class="fa fa-user"></i> @Model.CreatorName</a>
            </td>
        </tr>
        <tr>
            <th>
                @Resources.Resource.CreatedDate
            </th>
            <td>
                @Model.CreatedDate.ToUIformat()
            </td>
        </tr>
        <tr>
            <th>
                @Resources.Resource.TRNisStarted
            </th>
            <td>
                @Html.DisplayFor(model => model.IsStarted)
            </td>
        </tr>
        <tr>
            <th>
                @Resources.Resource.TRNisCompleted
            </th>
            <td>
                @Html.DisplayFor(model => model.IsCompleted)
            </td>
        </tr>

        <tr>
            <th>
                @Resources.Resource.Arbitrators
            </th>
            <td>
                @foreach (var arbitrator in Model.Arbitrators)
                {
                    <a href="@Url.Action("Details", "Players", new {id = arbitrator.Id})"><i class="fa fa-user"></i> @arbitrator.FirstNameLastName</a>
                }
            </td>
        </tr>

        <tr>
            <th>
                @Resources.Resource.Actions
            </th>
            <td>
                @if (Model.AccessPassed)
                {
                    <a href="@Url.Action("EditTournament", "ManageTournaments", new {id = Model.Id})" class="btn btn-default btn-xs"><i class="fa fa-cog"></i> @Resources.Resource.Edit</a>
                    <a href="@Url.Action("ManageArbitrators", "ManageTournaments", new {id = Model.Id})" class="btn btn-default btn-xs"><i class="fa fa-user"></i> @Resources.Resource.TRNmanageArbitrators</a>
                }
             </td>
        </tr>

        </tbody>
    </table>
</div>

</div>


<div class="row well" id="TournamentState">
    <h3 style="text-align: center"><i class="fa fa-line-chart"></i> @Resources.Resource.TRNstate</h3>

    @if (!Model.IsStarted)
    {
        <div class="col-md-12">
            <div class="progress">
                <div class="progress-bar progress-bar-warning" role="progressbar" style="width:100%">
                    <i class="fa fa-hourglass-o fa-lg"></i> @Resources.Resource.TRNstateNotStarted
                </div>
            </div>
        </div>
    }
    else
    {
        if (Model.IsCompleted)
        {
            <div class="col-md-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" style="width:100%">
                        <i class="fa fa-check fa-lg"></i> @Resources.Resource.TRNstateCompleted
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="col-md-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:100%">
                        <i class="fa fa-refresh fa-spin fa-lg fa-fw"></i> @Resources.Resource.TRNstateProcess
                    </div>
                </div>
                
            </div>
        }
    }

</div>

@if (Model.IsCompleted)
{
    <div class="row well" id="TournamentTable">
        <h3 style="text-align: center"><i class="fa fa-bar-chart"></i> @Resources.Resource.TRNtable</h3>
        <div class="col-md-8 col-md-offset-2">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>@Resources.Resource.Player</th>
                    <th style="text-align: center">@Resources.Resource.TRNgameResult</th>
                    <th>@Resources.Resource.Player</th>
                </tr>
                </thead>
            
                <tbody>
                @foreach (var game in Model.TourGames)
                {
                    <tr>
                        <td><a href="@Url.Action("Details", "Players", new {id = game.LeftPlayer.Id})"><b> @game.LeftPlayer.FirstName @game.LeftPlayer.LastName</b></a></td>
                        <td style="text-align: center">@game.Result.GetDisplayName()</td>
                        <td><a href="@Url.Action("Details", "Players", new {id = game.RightPlayer.Id})"><b> @game.RightPlayer.FirstName @game.RightPlayer.LastName</b></a></td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        
    </div>
}

@*@if (Model.IsCompleted)
{
    <div class="row well" id="TournamentTable">
        <h3 style="text-align: center"><i class="fa fa-bar-chart"></i> @Resources.Resource.TRNtable</h3>
        
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>@Resources.Resource.Player</th>
                <th>Rating?</th>
                @for (var i = 1; i <= Model.TournamentTable.Rows.Count; i++)
                {
                    <th>@i</th>
                }
                <th>Points</th>
                <th>Place</th>
            </tr>
            </thead>
            
            <tbody>
            @foreach (var row in Model.TournamentTable.Rows)
            {
                <tr>
                    <td>@row.UserName</td>
                    <td>@row.Rating</td>
                    
                    @foreach (var result in row.Results)
                    {
                        <td>@result.GetDisplayName()</td>
                    }

                    <td>@row.Points</td>
                    <td>@row.Place</td>
                </tr>
            }
            </tbody>
        </table>

    </div>
}*@

<div class="row well">

    <div class="col-md-6" id="ToursSection">
        <h3 style="text-align: center"><i class="fa fa-hourglass"></i> @Resources.Resource.TRNtours</h3>
        <hr />
        <ul class="nav nav-tabs">
            @foreach (var tour in Model.Tours)
            {
                if (tour.IsCompleted)
                {
                    <li><a href="@Url.Action("TourDetails", "Tournaments", new {id = tour.Id})"><i class="fa fa-check"></i> @tour.Number.ToString() @Resources.Resource.TRNtour</a></li>
                }
                else
                {
                    <li><a href="@Url.Action("TourDetails", "Tournaments", new {id = tour.Id})"><i class="fa fa-spinner fa-spin fa-fw"></i> @tour.Number.ToString() @Resources.Resource.TRNtour</a></li>

                }
            }
        </ul>
    </div>

    <div class="col-md-6" id="TournamentInfo">
        <h3 style="text-align: center"><i class="fa fa-info"></i> @Resources.Resource.TRNinfo</h3>
        <hr />
        @Html.Raw(Model.Info)
    </div>
</div>

<div class="row well" id="PlayersSection">
    <h3 style="text-align: center"><i class="fa fa-user-o"></i> @Resources.Resource.Players</h3>

    @if (Model.AccessPassed && !Model.IsStarted)
    {
        <a href="@Url.Action("ManagePlayers", "ManageTournaments", new {id = Model.Id})" class="btn btn-success">
            <i class="fa fa-plus-square"></i> @Resources.Resource.TRNmanagePlayers
        </a>
    }
    <hr />

    @if (Model.Players != null)
    {
        <table class="table table-hover ">
            <tr>
                <th>
                    ФИО Игрока
                </th>
                <th>
                    Дата рождения
                </th>
                <th>
                    Титул
                </th>
                <th>
                    Текущий рейтинг
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model.Players)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Details", "Players", new {id = item.Id})"><b>@item.FirstNameLastName</b></a>
                    </td>
                    <td>
                        @if (item.BirthDay.HasValue)
                        {
                            @item.BirthDay.Value.ToShortDateString()
                        }
                        else
                        {
                            <label class="label label-warning">Не установлено</label>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrentRating)
                    </td>
                    <td>
                        <a href="@Url.Action("Details", "Players", new {id = item.Id})" class="btn btn-default btn-xs"><i class="fa fa-search-plus"></i> @Resources.Resource.Details</a>
                    </td>
                </tr>
            }

        </table>
    }
</div>
