@using Chess_club_manager.Helpers
@model Chess_club_manager.Models.TournamentTour

@{
    ViewBag.Title = $"{Model.Number} {Resources.Resource.TRNtour} - {Model.Tournament.Name}";
}

<div class="row well">
    <h2 style="text-align: center"><i class="fa fa-hourglass"></i> @Resources.Resource.TRNtour</h2>
    <h3 style="text-align: center">@ViewBag.Title</h3>
    <hr/>

    <div class="col-md-6">
        <table class="table">
            <tr>
                <th>
                    @Resources.Resource.TRNtourStatus
                </th>
                <td>
                    @if (Model.IsCompleted)
                    {
                        <label class="label label-success"><i class="fa fa-check"></i> @Resources.Resource.TRNtourCompleted</label>
                    }
                    else
                    {
                        <label class="label label-warning"><i class="fa fa-spinner fa-spin fa-fw"></i> @Resources.Resource.TRNtourInProcess</label>
                    }
                </td>
            </tr>
            
            <tr>
                <th>
                    @Resources.Resource.Tournament
                </th>
                <td>
                    <a href="@Url.Action("Details", "Tournaments", new {id = Model.TournamentId})" class="btn btn-primary btn-xs">@Model.Tournament.Name</a>
                </td>
            </tr>

            <tr>
                <th>@Resources.Resource.TRNtourComplatedDate</th>
                <td>
                    @if (Model.CompletedDateTime.HasValue)
                    {
                        @Model.CompletedDateTime.Value.ToUIformat()
                    }
                </td>
            </tr>
        </table>
    </div>
    
    <div class="col-md-6">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>@Resources.Resource.Player</th>
                <th>@Resources.Resource.TRNgameResult</th>
                <th>@Resources.Resource.Player</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var game in Model.Games)
            {
                <tr>
                    <td><a href="@Url.Action("Details", "Players", new {id = game.LeftPlayer.Id})"><b>@game.LeftPlayer.FirstName @game.LeftPlayer.LastName</b></a></td>
                    <td>@game.Result.ToString()</td>
                    <td><a href="@Url.Action("Details", "Players", new {id = game.RightPlayer.Id})"><b>@game.RightPlayer.FirstName @game.RightPlayer.LastName</b></a></td>
                </tr>
            }
            </tbody>
        </table>
    </div>

</div>

<a class="btn btn-warning" href="@Url.Action("Details", "Tournaments", new {id = Model.TournamentId})"><i class="fa fa-arrow-left"></i> @Model.Tournament.Name</a>