<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Resources.Resource.ApplicationName</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/Resources/Images/ico_png.ico" />
    <script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-alpha.1/classic/ckeditor.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="@Url.Action("Index", "Home")" class="navbar-brand"><i class="fa fa-coffee"></i> @Resources.Resource.ApplicationName</a>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> @Resources.Resource.Home</a></li>
                <li><a href="@Url.Action("Index", "Tournaments")"><i class="fa fa-star"></i> @Resources.Resource.Tournaments</a></li>
                <li><a href="@Url.Action("Index", "Players")"><i class="fa fa-user"></i> @Resources.Resource.Players</a></li>
                @*<li><a href="@Url.Action("Index", "Arbitrators")"><i class="fa fa-balance-scale"></i> @Resources.Resource.Arbitrators</a></li>*@
                <li><a href="@Url.Action("Index", "News")"><i class="fa fa-bullhorn"></i> @Resources.Resource.News</a></li>
                
                @*help dropdown*@
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-info"></i> @Resources.Resource.HelpLanguage <span class="caret"></span></a>
                    <ul class="dropdown-menu" style="">
                        <li class="dropdown-header"><b>@Resources.Resource.ChooseLang</b></li>
                        @*<li class="divider"></li>*@
                        <li><a href="@Url.Action("ChangeCulture", "Home", new {lang = "ru"})"><i class="fa fa-flag"></i> Русский</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("ChangeCulture", "Home", new {lang = "en"})"><i class="fa fa-flag-checkered "></i> English</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("ChangeCulture", "Home", new {lang = "md"})"><i class="fa fa-flag-o"></i> Moldoveneasca</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header"><b>Помощь</b></li>
                        <li><a href="@Url.Action("About", "Home")"><i class="fa fa-info"></i> @Resources.Resource.Help</a></li>
                        @*<li class="divider"></li>*@
                    </ul>
                </li>
                

            </ul>

            @Html.Partial("_LoginPartial")

        </div>
    </div>
</div>

<div class="container body-content">

    @RenderBody()
    
    
</div>
    
    
<div id="applicationFooter">
    <hr />
    <div class="col-md-12">
        <div class="col-md-4">
            <p>&copy; @DateTime.Now.Year - @Resources.Resource.ApplicationName</p>
            <p>&reg; Chess Club Manager Project</p>

        </div>
        <div class="col-md-4" style="text-align: center">
            <p>Assembly Verson: @ViewContext.Controller.GetType().Assembly.GetName().Version</p>
            <p>Assembly Date: @File.GetCreationTime(ViewContext.Controller.GetType().Assembly.Location)</p>
        </div>
        <div class="col-md-4">
            <h5 style="text-align: right">USM High Graduate Work Project</h5>
            <div class="btn-group pull-right">
                <a href="https://vk.com/macr0nz" class="btn btn-primary"><i class="fa fa-cogs"></i> Programmed</a>
                <a href="https://vk.com/id307180684" class="btn btn-primary"><i class="fa fa-bar-chart"></i> Designed</a>
                <a href="https://vk.com/0x0000011" class="btn btn-primary"><i class="fa fa-commenting"></i> Tested</a>

            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/Content/font-awesome")
@RenderSection("scripts", required: false)

</body>
</html>
