<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Chess Club Manager</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/Resources/Images/ico_png.ico" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            @Html.ActionLink("Chess Club Manager", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Домой</a></li>
                <li><a href="@Url.Action("Index", "Arbitrators")"><i class="fa fa-star"></i> Турниры</a></li>
                <li><a href="@Url.Action("Index", "Players")"><i class="fa fa-user"></i> Игроки</a></li>
                <li><a href="@Url.Action("Index", "Arbitrators")"><i class="fa fa-balance-scale"></i> Арбитры</a></li>
                <li><a href="@Url.Action("Index", "News")"><i class="fa fa-bullhorn"></i> Новости</a></li>
                <li><a href="@Url.Action("About", "Home")"><i class="fa fa-info"></i> Помощь</a></li>
                
                

            </ul>

            @Html.Partial("_LoginPartial")

        </div>
    </div>
</div>

<div class="container body-content">

    @RenderBody()

    <hr/>
    <div class="col-md-12">
        <footer>
            <p>&copy; @DateTime.Now.Year - Chess Club Manager</p>
            <p>Assembly verson: @ViewContext.Controller.GetType().Assembly.GetName().Version</p>
            <p>Assembly Date: @File.GetCreationTime(ViewContext.Controller.GetType().Assembly.Location)</p>
        </footer>
    </div>
    
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/Content/font-awesome")
@RenderSection("scripts", required: false)

</body>
</html>
