@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-wrench"></i> Управление <span class="caret"></span></a>
                <ul class="dropdown-menu" style="">
                    @*<li class="dropdown-header">Dropdown header 1</li>*@
                    <li><a href="@Url.Action("Index", "ManageArbitrators")"><i class="fa fa-star"></i> Турниры</a></li>
                    <li class="divider"></li>
                    <li><a href="@Url.Action("Index", "ManagePlayers")"><i class="fa fa-user"></i> Игроки</a></li>
                    <li class="divider"></li>
                    <li><a href="@Url.Action("Index", "ManageArbitrators")"><i class="fa fa-balance-scale"></i> Арбитры</a></li>
                    <li class="divider"></li>
                    <li><a href="@Url.Action("Index", "ManageArbitrators")"><i class="fa fa-address-card-o "></i> Пользователи</a></li>
                    <li class="divider"></li>
                    <li><a href="@Url.Action("Index", "ManageArbitrators")"><i class="fa fa-bullhorn"></i> Новости</a></li>
                </ul>
            </li>
            
            <li><a href="@Url.Action("Index", "Manage")"><i class="fa fa-user-circle"></i> @User.Identity.GetUserName()</a></li>

            <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i> Выход</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="@Url.Action("Register", "Account")"><i class="fa fa-arrow-up"></i> Регистрация</a></li>
        <li><a href="@Url.Action("Login", "Account")"><i class="fa fa-sign-in"></i> Вход</a></li>
    </ul>
}
