@{
    ViewBag.Title = Resources.Resource.HomePage;
}

@*@if (!Request.IsAuthenticated)
{
    <div class="jumbotron">
        <h3 style="text-align: center">About text</h3>
        <h4 style="text-align: center">Info, screens</h4>
        <div class="row">
            <div class="col-md-4 well">
                <img class="img-rounded img-responsive" src="~/Resources/Images/trnCreateDemo1.png" alt="Create a tournament"/>
                <p>Image 1</p>
            </div>
            <div class="col-md-4 well">
                <img class="img-rounded img-responsive" src="~/Resources/Images/loginDemo1.png" alt="Login to system" />
                <p>Image 2</p>
            </div>
            <div class="col-md-4 well">True image 3</div>
        </div>

        <button class="btn btn-default"><i class="fa fa-minus"></i> Hide</button>

    </div>
}*@



<div class="row">
    <div class="col-md-8">
        <div class="col-md-12 table-responsive">
            <h3 style="text-align: center"><i class="fa fa-star-o "></i> Турниры
            </h3>
            <hr/>
            @Html.Action("TopTournaments", "Home")

        </div>

        <div class="col-md-12">
            <h3 style="text-align: center"><i class="fa fa-bar-chart "></i> @Resources.Resource.TopPlayersRating</h3>
            <hr/>
            @Html.Action("TopPlayers", "Home")

        </div>
    </div>


    <div class="col-md-4">
        <h3 style="text-align: center"><i class="fa fa-bullhorn"></i> @Resources.Resource.News</h3>
        <hr/>
        @Html.Action("TopNews", "Home")
    </div>
</div>
    

