@{
    ViewBag.Title = Resources.Resource.HomePage + " " + Resources.Resource.ApplicationName;
}

<div class="jumbotron">
    <div style="text-align: center;">
        <h2>@Resources.Resource.ApplicationName</h2>
    </div>
    <p class="lead">@Resources.Resource.HomeJumbotronInfo</p>
    @*<p class="lead">Национальная Шахматная Академия Молдовы</p>*@
    <p><a href="@Url.Action("About", "Home")" class="btn btn-primary btn-lg"><i class="fa fa-search-plus"></i> @Resources.Resource.Details</a></p>
    
</div>


<div class="row">
    <div class="col-md-8">
        <h3 style="text-align: center"><i class="fa fa-bar-chart "></i> @Resources.Resource.TopPlayersRating</h3>
        <hr/>
        @Html.Action("TopPlayers", "Home")
        
    </div>

    <div class="col-md-4">
        <h3 style="text-align: center"><i class="fa fa-bullhorn"></i> @Resources.Resource.News</h3>
        <hr />
        @Html.Action("TopNews", "Home")
    </div>
</div>
    

