@model IEnumerable<Chess_club_manager.DataModel.Entity.News>

<div class="row">
    
    @foreach (var item in Model)
    {
        <div class="well">
            <label class="label label-info">@item.CreatedDate.ToShortDateString()</label>
            <p><span class="fa fa-newspaper-o"></span><b> @item.Title</b></p>
            <p>@Html.Raw(item.Content)</p>
            <hr/>
            <a href="@Url.Action("Details", "News", new {id = item.Id})" class="btn btn-default btn-xs"><i class="fa fa-window-restore"></i> @Resources.Resource.Details</a>
        </div>
    }

</div>
